@using Eventos.IO.Application.ViewModels
@model Eventos.IO.Application.ViewModels.EventoViewModel

@{
    ViewData["Title"] = Model.Nome;
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <h4>@Model.DescricaoCurta</h4>
</div>
<div>
    <hr />
    <div class="container">
        <div>
            <div class="row">
                @Html.DisplayFor(modelItem => Model.DescricaoLonga)
            </div>
            <hr />
            <br />
            <div class="row">
                <b>Quando:</b><br />
                @Model.DataInicio até @Model.DataFim
            </div>
            <br />
            <div class="row">
                <b>Valor:</b><br />
                @{ 
                    if(Model.Gratuito)
                    {
                        @Html.DisplayName("Gratuíto")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => Model.Valor)
                    }
                }
            </div>
            <br />
            <div class="row">
                <b>Tipo de Evento</b><br />
                @{ 
                    var categoria = new CategoriaViewModel().ListarCategorias().FirstOrDefault(c => c.Id == Model.CategoriaId);
                    @Html.Raw(categoria.Nome)
                }
            </div>
            <br />
            <div class="row">
                <b>Organizador por:</b><br />
                @Html.DisplayFor(modelItem => Model.NomeEmpresa)
            </div>
            <br />
            <div class="row">
                <b>Onde?</b><br />
                @{ 
                    if(Model.Online)
                    {
                        @Html.DisplayName("Evento Online")
                    }
                    else
                    {
                        <iframe width="900" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=@Model.Endereco.ToString()&key=AIzaSyCQYPD12Thj_pk3sfhfWf8m0ZJb9TRS9zw" allowfullscreen></iframe>
                    }
                }
            </div>
        </div>
    </div>

    <a href="javascript:history.go(-1)" class="btn btn-info">Voltar</a>
</div>
